// Default text styles

	// Paragraphs

		p{
			color:$normal-font;
			font-size:0.75em;
			font-family:Arial, Helvetica, sans-serif;

			a{
				color:$strong-font;
				text-decoration:none;
				@include transAll;
				
				&:hover{
					text-decoration:underline;
					color:$weak-font;
				};
			}
		}

		.intro{
			padding:60px 0px 40px 0px;

			p{
				line-height:2.1em;
				font-size:0.96em;
				letter-spacing:0px;
			}
			&.smaller{
				padding:30px 0px 20px 0px;
				p{
					font-size:0.75em;
				}
			}
		}

		.weak{
			color:$normal-font;
		}
		.strong{
			color:$main-color;
		}

	// Caracters

		.title{
			@include cursive(85px, 2px);
			font-weight:normal;
			margin:10px 0px 30px 0px;
			line-height:32px;
			color:$main-color;
			&.small{
				@include sans-serif(2.5em, 1px);
				font-family: $cursive;
				color: #34abdd;
				display: inline-block;
				padding: 5px;
			}
			&.center{
				text-align:center;
				display:block;
			}
		}
		.copy{
			.title{
				&.small{
					padding:0px;
					margin:0px 0px 10px 0px;
				}
			}
		}

		.skill{
			h2{
				@include sans-serif(0.96em, 0px);
				color:$normal-font;
			}
		}