// Global styles

	body{
		background: $main-BG;
	}
	.center{
		margin-left:auto;
		margin-right:auto;
	}

// Recurrent tools

	// Line tools
		.dropShadow{
			width:100%;
			height:7px;
			background:transparent url("../images/dropShadow.png") top center no-repeat;
			border:none;
			margin:0px;
			padding:0px;
		}
		.upShadow{
			width:100%;
			height:7px;
			background:transparent url("../images/upShadow.png") top center no-repeat;
			border:none;
			margin:0px;
			padding:0px;
		}
		.leftShadow{
			@extend .dropShadow;
			background:transparent url("../images/leftShadow.png") top right repeat-y;
			height:100%;
			width:7px !important;
		}
		.downPoint{
			@extend .dropShadow;
			background:transparent url("../images/downPoint.png") top center no-repeat;
			height:15px;
			position:absolute;
			bottom:0px;
			left:0px;
		}
		.rightPoint{
			background:transparent url("../images/rightPoint.png") center center no-repeat;
			width:15px;
			height:100%;
			position:absolute;
			top:0px;
			right:-15px;
			border:none;
			margin:0px;
			padding:0px;
		}
		.clearfix{
			height:0px;
			visibility:hidden;
			clear:both;
			float:none;
			margin:0px;
			border:none;
			padding:0px;
			&.margins{
				margin:10px 0px;
			}
		}
		.dropTop{
			background:url("../images/dropTop.png") top center repeat-x transparent;
			height:6px;
			border:none;
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			margin:0px;
		}
		.dropBottom{
			background:url("../images/dropBottom.png") top center repeat-x transparent;
			height:6px;
			border:none;
			position:absolute;
			bottom:0px;
			left:0px;
			width:100%;
			margin:0px;
		}

	// Block tools
		.show-for-very-small{
			display:none;
		}
		.infinity{
			margin:0px 0px;
			position:relative;
			overflow:hidden;
			height:auto;
			> img{
				width:100%;
				position:absolute;
				top:0;
				left:0;
				z-index:0;
			}
			&.dark{
				background:$alt-BG;
				overflow:visible;
			}
		}
		.blueLine{
			border-bottom:10px solid $main-color;
		}

		// Projects

			.project{
				position:relative;
				margin-bottom:20px;
				-webkit-border-radius: 3px;
  				border-radius: 3px;
				@include transAll();
				&.web{
					width:100%;
					float:right;
				}
				&.second{
					width:80%;
				}
				.dynamicImages{
					width:90%;
					float:right;
					margin:0px;
					padding:0px;
					background:#cacaca;
					-webkit-border-radius: 0px 3px 3px 0px;
  					border-radius: 0px 3px 3px 0px;
  					overflow:hidden;
				}
				.links{
					position:absolute;
					top:0px;
					left:0;
					width:10%;
					height:100%;
					background:$main-color;
					-webkit-border-radius: 3px 0px 0px 3px;
  					border-radius: 3px 0px 0px 3px;
					@include transAll();
					&:hover{
						left:1%;
					}
					h2{
						display:none;
					}
					.internal, .external{
						position:absolute;
						width:100%;
						height:40px;
						left:0px;
						display:block;
						overflow:hidden;
						span.text{
							display:block;
							text-align:center;
							color:#fff;
							font-size:10px;
							text-indent:-999px;
							overflow:hidden;
							@include transAll();
							padding-bottom:4px;
						}
						span.icon{
							display:block;
							width:80%;
							min-width:18px;	
							max-width:18px;
							height:19px;
							margin:0 auto;
							background:url("../images/porjectIcons.png") no-repeat;
						}
						&:hover{
							span.text{
								text-indent:0px;
							}
						}
					}
					.internal{
						bottom:0px;
						span.icon{
							background-position:bottom center;
						}
						span.text{
							padding:4px 0px 0px 0px;
						}
					}
					.external{
						height:40px;
						bottom:43px;
						left:0px;
					}
					.rightPoint{
						right:-13px;
					}
				}
				.dropShadow{
					position:absolute;
					bottom:-7px;
					width:100%;
					left:0px;
				}
				.leftShadow{
					position:absolute;
					left:-7px;
					top:0px;
					height:100%;
				}
				&:hover{
					.dynamicImages{
						img{
							opacity:0.8;
						}
					}
				}
			}

			.skill{
				margin-bottom:20px;
			}
			.dynamicImages{
				img{
					width:100%;
					display:block;
					@include transAll();
				}
			}
			.project-nav{
				height:30px;
				ul{
					display:block;
					float:right;
					height:30px;
					li{
						display:inline-block;
						*display:inline;
						zoom:1;
						list-style-type:none;
						height:30px;
						a{
							@include sans-serif(10px, 0px);
							display:inline-block;
							*display:inline;
							height:30px;
							line-height:12px;
							@include transAll();
							span{
								display:inline-block;
								zoom:1;
								height:15px;
								&.icon{
									background:url("../images/navicons.png") no-repeat;
									width:15px;
									margin:0px;
									position:relative;
									top:2px;
								}
								&.text{
									margin:0 10px;
									@include transAll();
								}
							}
							&.return{
								span.icon{
									background-position:left center;
								}
							}
							&.site{
								span.icon{
									background-position:right center;
								}
							}
							&:hover{
								span.text{
									border-bottom:1px dotted $main-color;
								}
							}
						}
					}
				}
			}
			.ID{
				h1{
					display:block;
				}
				dl{
					margin:-10px 0px 0 0;
					padding:0px 0px 0px 15px;
					dt{
						@include sans-serif(12px);
						color:$main-color;
						margin-top:10px;
					}
					dd{
						@include sans-serif(11px);
						color:$normal-font;
						margin:0px;
						a{
							@include sans-serif(11px);
							color:$normal-font;
							&:hover{
								color:$main-color;
							}
						}
					}
				}
			}
			.details{
				section{
					margin-bottom:40px;
					margin-top:20px;
					.dynamicImages{
						width:90%;
						float:right;
					}
					&.copy{
						padding:0px 0.9375em;
					}
				}
				h2{
					@include sans-serif(12px, 0px);
					color:$main-color;
					margin-bottom:20px;
				}
			}

	// Close box
		.close{
			position:absolute;
			top:0;
			right:15px;
			a{
				display:block;
				background:url("../images/closeIcon.png") top right no-repeat;
				height:15px;
				line-height:15px;
				width:15px;
				text-indent:-999px;
				overflow:hidden;
				&:hover{
					background-position:bottom right;
				}
			}
		}

	// Buttons
		a.custom{
			display:block;
			background:transparent;
			border:none;
			box-shadow:none;
			color:$main-color;
			padding-left:35px;
			position:relative;
			white-space:nowrap;
			@include sans-serif(0.8em, 0px);
			text-transform:uppercase;
			span{
				@include transAll;
				&.icon{
					position:absolute;
					width:28px;
					height:28px;
					overflow:hidden;
					background:url("../images/buttonIcon.png") top right no-repeat;
					top:-6px;
					left:0px;
					@include transNone;
				}
			}
			&:hover{
				background:transparent;
				border:none;
				box-shadow:none;
				color:$main-color;
				text-decoration:none;
				span.text{
					border-bottom:1px dotted $main-color;
					padding:2px 0px;
				}
				span.icon{
					background-position:top left;
				}
			}
		}

	// Sticky footer

		html, body {
			height: 100%;
		}

		#alpha {
			min-height: 100%;
		}

		#beta {
			overflow:auto;
			padding-bottom: 30px;
		}  /* must be same height as the footer */

		#footer{
			position: relative;
			margin-top: -32px; /* negative value of footer height */
			height: 30px;
			clear:both;
			p{
				font-size:11px;
				color:$main-color;
				text-align:center;
			}
		} 

		/*Opera Fix*/
		body:before {
			content:"";
			height:100%;
			float:left;
			width:0;
			margin-top:-32767px;
		}
	
// Main content section 

	#content{
		padding:25px 0px;
	}

	.wrap{
		margin-top:45px;
		margin-bottom:45px;
		h3{
			@include sans-serif(0.96em, 0px);
			color:$normal-font;
		}
		&.less{
			margin-top:20px;
		}
	}

// Intro

	#myChart{
		position:absolute;
		top:0px;
		left:50%;
		margin-left:-150px;
		width:300px !important;
		height:300px !important;
	}

// Projects
	.killPad{
		@include transAll();
	}
	#projects{
		@include transAll();
	}
	#switch{
		text-align:right;
		position:relative;
		overflow:visible;
		a{
			display:block;
			width:120px;
			position:absolute;
			right:0px;
		}
	}
	.sub-nav{
		font-size: 0.85em;
		dd{
			&.active a {
				-webkit-border-radius: 1000px;
				border-radius: 1000px;
				font-weight: bold;
				background: $main-color;
				padding: 0.1875em 0.5625em;
				cursor: pointer;
				&:hover{
					opacity:0.8;
					border-bottom:none;
				}
			}
			&:hover a{
				border-bottom:1px dotted $main-color;
			}
		}
		dt{
			color:$normal-font;
		}
	}

// Experience
	.copy{
		.sub-nav{
			margin:10px 0px;
		}
	}
	.xp-lists{
		margin-bottom:30px;
		position:relative !important;
		.xp{
			position:relative;
			overflow:auto;
			margin-bottom:20px;
			.visual{
				width:12%;
				float:left;
				margin:0px;
				text-align:center;
				img{
					width:80%;
					max-width:50px;
					margin: 6px auto 0px auto;
				}
				h3{
					display:none !important;
				}
			}
			&.lvl{
				margin-bottom:10px;
				dl{
					float:none;
					width:100%;
					dd{
						&.role{
							padding-top:0px;
						}
					}
				}
			}
			dl{
				float:right;
				margin:0px;
				width:88%;
				dd, dt{
					margin:6px 0px;
					line-height:1;
				}
				dt{
					@include sans-serif(1em, 0px);
					color:$main-color;
					margin:0;
				}
				dd{
					&.when{
						text-transform:uppercase;
						font-size:0.6em;
						font-weight:bold;
						color:$normal-font;
					}
					&.for{
						margin:8px 4px 2px 0px;
						font-size:0.8em;
						color:$weak-font;
						float:left;
						text-transform:uppercase;
						@include sans-serif(0.6em, 0px);
						a{
							color:$weak-font;
							text-decoration:none;
							&:hover{
								color:$main-color;
							}
						}
					}
					&.role{
						clear:both;
						display:block;
						font-size:0.75em;
						padding-top:5px;
						line-height:1.5;
						color:$normal-font;
					}
				}
			}
		}
	}

	#skills{
		margin:20px auto 20px auto;
		.ask{
			margin-bottom:20px;
		}
		.entry{
			text-align:center;
			margin:5px 0px 10px 0px;
			img{
				width:80%;
				max-width:70px;
				margin:0 auto;
			}
			h3{
				@include sans-serif(0.7em, 0px);
				color:$normal-font;
			}
		}
	}

// Type pages
	
	.sitemap{
		padding-left:20px;
		li{
			padding:0px 0px 0px 10px;
			list-style-image:url("../images/skills/dot.png");
			font-size:0.8em;
			color:$normal-font;
			a{
				@include transAll();
				&:hover{
					color:$weak-font;
					text-decoration:underline;
				}
			}
			ul{
				li{
					font-size:0.9em;
				}
			}
		}
	}
