
// MIXINS

	// Colors
		$main-color:#34abdd;
		$normal-font:#5C5A5B;
		$strong-font:#34abdd;
		$weak-font:#cacaca;
		@mixin gradiant(){
			background-image: linear-gradient(bottom, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -o-linear-gradient(bottom, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -moz-linear-gradient(bottom, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -webkit-linear-gradient(bottom, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -ms-linear-gradient(bottom, rgb(7,105,143) 14%, rgb(52,170,221) 78%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.14, rgb(7,105,143)),
				color-stop(0.78, rgb(52,170,221))
			);
		}
		@mixin gradiantRev(){
			background-image: linear-gradient(top, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -o-linear-gradient(top, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -moz-linear-gradient(top, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -webkit-linear-gradient(top, rgb(7,105,143) 14%, rgb(52,170,221) 78%);
			background-image: -ms-linear-gradient(top, rgb(7,105,143) 14%, rgb(52,170,221) 78%);

			background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0.14, rgb(7,105,143)),
				color-stop(0.78, rgb(52,170,221))
			);
		}

	// Backgrounds
		$main-BG: url("../images/bgClair.png") top left;
		$alt-BG: url("../images/bgDark.png") top left;

	// Transitions²
		@mixin transAll($time: 0.45s) {
			-webkit-transition: all $time;
			-moz-transition: all $time;
			-o-transition: all $time;
			transition: all $time;
		}
		@mixin transNone($time: 0) {
			-webkit-transition: all $time;
			-moz-transition: all $time;
			-o-transition: all $time;
			transition: all $time;
		}

	// Fonts

		$cursive: 'Arapey', serif;
		$sans-serif: 'Merriweather Sans', sans-serif;
		@mixin cursive($size: 11px, $spacing: 1px){
			font-family: 'Arapey', serif;
			font-size:$size;
			font-style:italic;
			font-weight:400;
			letter-spacing:$spacing;
		}
		@mixin sans-serif($size: 11px, $spacing: 1px, $weight: 300){
			font-family: 'Merriweather Sans', sans-serif;
			font-size:$size;
			letter-spacing:$spacing;
			font-weight:$weight;
		}