/* line 3, ../sass/parts/_global.scss */
body {
  background: url("../images/bgClair.png") top left;
}

/* line 6, ../sass/parts/_global.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/parts/_global.scss */
.dropShadow {
  width: 100%;
  height: 7px;
  background: url("../images/dropShadow.png") top center no-repeat;
}

/* line 19, ../sass/parts/_global.scss */
.lineT, .lineB {
  height: 2px;
  background: url("../images/lineT.png") top left repeat;
  width: 100%;
}

/* line 24, ../sass/parts/_global.scss */
.lineB {
  background: url("../images/lineB.png") top left repeat;
}

/* line 28, ../sass/parts/_global.scss */
.clearfix {
  height: 0px;
  visibility: hidden;
  clear: both;
  float: none;
  margin: 0px;
  border: none;
  padding: 0px;
}

/* line 39, ../sass/parts/_global.scss */
.infinity {
  margin: 0px 0px;
  position: relative;
  overflow: hidden;
  height: auto;
}
/* line 44, ../sass/parts/_global.scss */
.infinity > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 51, ../sass/parts/_global.scss */
.infinity .screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 400px;
}
/* line 59, ../sass/parts/_global.scss */
.infinity.dark {
  background: url("../images/bgDark.png") top left;
  overflow: visible;
}
/* line 64, ../sass/parts/_global.scss */
.infinity .dropTop {
  background: url("../images/dropTop.png") top center repeat-x transparent;
  height: 6px;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
}
/* line 74, ../sass/parts/_global.scss */
.infinity .dropBottom {
  background: url("../images/dropbottom.png") top center repeat-x transparent;
  height: 6px;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
}

/* line 86, ../sass/parts/_global.scss */
.relate {
  position: relative;
}

/* line 90, ../sass/parts/_global.scss */
.featured {
  border-bottom: 3px solid #34abdd;
  margin: 15px 0px;
}
/* line 94, ../sass/parts/_global.scss */
.featured.small {
  margin: 15px 0px 15px 0px !important;
  padding: 0px 3px !important;
}
/* line 99, ../sass/parts/_global.scss */
.featured .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/* line 106, ../sass/parts/_global.scss */
.featured .overlay a {
  display: block;
  text-align: center;
}
/* line 109, ../sass/parts/_global.scss */
.featured .overlay a img {
  width: 100%;
  max-width: 157px;
  margin: 0 auto;
}
/* line 116, ../sass/parts/_global.scss */
.featured .underlay {
  width: 100%;
  margin: 0 auto;
}
/* line 119, ../sass/parts/_global.scss */
.featured .underlay img {
  position: relative;
  top: 2px;
}
/* line 124, ../sass/parts/_global.scss */
.featured .dropShadow {
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 0px;
}

/* line 134, ../sass/parts/_global.scss */
.close {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 138, ../sass/parts/_global.scss */
.close a {
  display: block;
  background: url("../images/closeIcon.png") top right no-repeat;
  height: 15px;
  line-height: 15px;
  width: 15px;
  text-indent: -999px;
  overflow: hidden;
}
/* line 146, ../sass/parts/_global.scss */
.close a:hover {
  background-position: bottom right;
}

/* line 154, ../sass/parts/_global.scss */
#content {
  padding: 25px 0px;
}

/* line 158, ../sass/parts/_global.scss */
.wrap {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 161, ../sass/parts/_global.scss */
.wrap h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #5c5a5b;
}

/* line 5, ../sass/parts/_fonts.scss */
p {
  color: #5c5a5b;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 10, ../sass/parts/_fonts.scss */
p a {
  color: #34abdd;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 15, ../sass/parts/_fonts.scss */
p a:hover {
  text-decoration: underline;
  color: #cacaca;
}

/* line 22, ../sass/parts/_fonts.scss */
.intro {
  padding: 60px 0px 40px 0px;
}
/* line 25, ../sass/parts/_fonts.scss */
.intro p {
  line-height: 2.1em;
  font-size: 15px;
  letter-spacing: 0px;
}

/* line 32, ../sass/parts/_fonts.scss */
.weak {
  color: #5c5a5b;
}

/* line 38, ../sass/parts/_fonts.scss */
.title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 65px;
  letter-spacing: 2px;
  font-weight: 300;
  font-weight: normal;
  margin: 10px 0px 30px 0px;
  line-height: 32px;
  color: #34abdd;
}
/* line 44, ../sass/parts/_fonts.scss */
.title.small {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 300;
}

/* line 3, ../sass/parts/_header.scss */
.contain-to-grid {
  background: url("../images/bgClair.png") top left;
  position: relative;
  margin-bottom: 15px;
}
/* line 8, ../sass/parts/_header.scss */
.contain-to-grid .dropShadow {
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 100%;
  z-index: 99;
}

/* line 17, ../sass/parts/_header.scss */
.top-bar {
  height: 100px;
  background: transparent;
}
/* line 21, ../sass/parts/_header.scss */
.top-bar .name h1 a {
  display: block;
  text-indent: -999px;
  background: url("../images/logo.png") center center no-repeat;
  width: 80px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 27, ../sass/parts/_header.scss */
.top-bar .name h1 a:hover {
  opacity: 0.8;
}
/* line 32, ../sass/parts/_header.scss */
.top-bar ul li {
  line-height: 100px;
  background: transparent;
}
/* line 36, ../sass/parts/_header.scss */
.top-bar ul li a {
  line-height: 100px;
  background: transparent;
}
/* line 43, ../sass/parts/_header.scss */
.top-bar section ul {
  background: transparent;
}
/* line 46, ../sass/parts/_header.scss */
.top-bar section ul li a span {
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 49, ../sass/parts/_header.scss */
.top-bar section ul li a:not(.button) {
  line-height: 100px;
  background: transparent;
  color: #34abdd;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 56, ../sass/parts/_header.scss */
.top-bar section ul li a:not(.button).hover {
  background: #cacaca !important;
  border: 1px solid red;
}
/* line 61, ../sass/parts/_header.scss */
.top-bar section ul li.active a {
  background: transparent;
  color: #fff;
}
/* line 64, ../sass/parts/_header.scss */
.top-bar section ul li.active a span {
  border-bottom: 1px dotted #34abdd;
  color: #34abdd;
  padding-bottom: 3px;
}
/* line 70, ../sass/parts/_header.scss */
.top-bar section ul li:hover a {
  background: transparent !important;
}
/* line 72, ../sass/parts/_header.scss */
.top-bar section ul li:hover a span {
  border-bottom: 1px dotted #34abdd;
  padding-bottom: 3px;
}
/* line 79, ../sass/parts/_header.scss */
.top-bar section > ul > .divider {
  height: 100px;
  background-color: transparent;
  border: none;
}
/* line 86, ../sass/parts/_header.scss */
.top-bar .menu-icon {
  background-color: transparent;
}
/* line 91, ../sass/parts/_header.scss */
.top-bar.expanded {
  background: transparent !important;
}
/* line 93, ../sass/parts/_header.scss */
.top-bar.expanded .title-area {
  background: transparent;
}

/* line 100, ../sass/parts/_header.scss */
#quickContact {
  display: none;
  width: 100%;
  padding: 20px 0px;
}
/* line 105, ../sass/parts/_header.scss */
#quickContact h1 {
  color: #cacaca;
  font-size: 12px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 300;
}
/* line 110, ../sass/parts/_header.scss */
#quickContact h2 {
  color: #34abdd;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 300;
}
/* line 115, ../sass/parts/_header.scss */
#quickContact label {
  color: #cacaca;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 2px 0px 5px 0px;
}
/* line 122, ../sass/parts/_header.scss */
#quickContact p {
  margin-bottom: 5px;
  line-height: 1em;
}
/* line 127, ../sass/parts/_header.scss */
#quickContact textarea {
  height: 123px;
  resize: none;
}
/* line 132, ../sass/parts/_header.scss */
#quickContact #buttonSection {
  margin: 15px 0px;
}
/* line 136, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons {
  height: 44px;
  border: 1px solid #262626;
  border-right: none;
}
/* line 140, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons.top {
  border-bottom: 0px;
  margin-bottom: 0px;
}
/* line 145, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon {
  border-right: 1px solid #303030;
  height: 43px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 151, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a {
  display: block;
  height: 39px;
  width: 100%;
  max-width: 39px;
  margin: 2px auto;
  background: url("../images/socialIcons.png") no-repeat;
}
/* line 158, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iMail {
  background-position: 0px 0px;
}
/* line 160, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iMail:hover {
  background-position: 0px -39px;
}
/* line 164, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iPhone {
  background-position: -39px 0px;
}
/* line 166, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iPhone:hover {
  background-position: -39px -39px;
}
/* line 170, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iGplus {
  background-position: -78px 0px;
}
/* line 172, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iGplus:hover {
  background-position: -78px -39px;
}
/* line 176, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iTwitter {
  background-position: -117px 0px;
}
/* line 178, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iTwitter:hover {
  background-position: -117px -39px;
}
/* line 182, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iFlickr {
  background-position: -156px 0px;
}
/* line 184, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iFlickr:hover {
  background-position: -156px -39px;
}
/* line 193, ../sass/parts/_header.scss */
#quickContact #springContact {
  margin-top: 20px;
}
