/* line 3, ../sass/parts/_global.scss */
body {
  background: url("../images/bgClair.png") top left;
}

/* line 6, ../sass/parts/_global.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/parts/_global.scss */
.dropShadow, .leftShadow, .downPoint {
  width: 100%;
  height: 7px;
  background: transparent url("../images/dropShadow.png") top center no-repeat;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* line 22, ../sass/parts/_global.scss */
.upShadow {
  width: 100%;
  height: 7px;
  background: transparent url("../images/upShadow.png") top center no-repeat;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* line 30, ../sass/parts/_global.scss */
.leftShadow {
  background: transparent url("../images/leftShadow.png") top right repeat-y;
  height: 100%;
  width: 7px !important;
}

/* line 36, ../sass/parts/_global.scss */
.downPoint {
  background: transparent url("../images/downPoint.png") top center no-repeat;
  height: 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* line 44, ../sass/parts/_global.scss */
.rightPoint {
  background: transparent url("../images/rightPoint.png") center center no-repeat;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: -15px;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* line 55, ../sass/parts/_global.scss */
.clearfix {
  height: 0px;
  visibility: hidden;
  clear: both;
  float: none;
  margin: 0px;
  border: none;
  padding: 0px;
}
/* line 63, ../sass/parts/_global.scss */
.clearfix.margins {
  margin: 10px 0px;
}

/* line 67, ../sass/parts/_global.scss */
.dropTop {
  background: url("../images/dropTop.png") top center repeat-x transparent;
  height: 6px;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
}

/* line 77, ../sass/parts/_global.scss */
.dropBottom {
  background: url("../images/dropbottom.png") top center repeat-x transparent;
  height: 6px;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
}

/* line 89, ../sass/parts/_global.scss */
.show-for-very-small {
  display: none;
}

/* line 92, ../sass/parts/_global.scss */
.infinity {
  margin: 0px 0px;
  position: relative;
  overflow: hidden;
  height: auto;
}
/* line 97, ../sass/parts/_global.scss */
.infinity > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 104, ../sass/parts/_global.scss */
.infinity.dark {
  background: url("../images/bgDark.png") top left;
  overflow: visible;
}

/* line 109, ../sass/parts/_global.scss */
.blueLine {
  border-bottom: 10px solid #34abdd;
}

/* line 115, ../sass/parts/_global.scss */
.project {
  position: relative;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 121, ../sass/parts/_global.scss */
.project.web {
  width: 100%;
  float: right;
}
/* line 125, ../sass/parts/_global.scss */
.project.second {
  width: 80%;
}
/* line 128, ../sass/parts/_global.scss */
.project .dynamicImages {
  width: 90%;
  float: right;
  margin: 0px;
  padding: 0px;
  background: #cacaca;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  overflow: hidden;
}
/* line 138, ../sass/parts/_global.scss */
.project .links {
  position: absolute;
  top: 0px;
  left: 0;
  width: 10%;
  height: 100%;
  background: #34abdd;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 148, ../sass/parts/_global.scss */
.project .links:hover {
  left: 1%;
}
/* line 151, ../sass/parts/_global.scss */
.project .links h2 {
  display: none;
}
/* line 154, ../sass/parts/_global.scss */
.project .links .internal, .project .links .external {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  display: block;
  overflow: hidden;
}
/* line 161, ../sass/parts/_global.scss */
.project .links .internal span.text, .project .links .external span.text {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 10px;
  text-indent: -999px;
  overflow: hidden;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
  padding-bottom: 4px;
}
/* line 171, ../sass/parts/_global.scss */
.project .links .internal span.icon, .project .links .external span.icon {
  display: block;
  width: 80%;
  min-width: 18px;
  max-width: 18px;
  height: 19px;
  margin: 0 auto;
  background: url("../images/porjectIcons.png") no-repeat;
}
/* line 181, ../sass/parts/_global.scss */
.project .links .internal:hover span.text, .project .links .external:hover span.text {
  text-indent: 0px;
}
/* line 186, ../sass/parts/_global.scss */
.project .links .internal {
  bottom: 0px;
}
/* line 188, ../sass/parts/_global.scss */
.project .links .internal span.icon {
  background-position: bottom center;
}
/* line 191, ../sass/parts/_global.scss */
.project .links .internal span.text {
  padding: 4px 0px 0px 0px;
}
/* line 195, ../sass/parts/_global.scss */
.project .links .external {
  height: 40px;
  bottom: 43px;
  left: 0px;
}
/* line 200, ../sass/parts/_global.scss */
.project .links .rightPoint {
  right: -13px;
}
/* line 204, ../sass/parts/_global.scss */
.project .dropShadow, .project .leftShadow, .project .downPoint {
  position: absolute;
  bottom: -7px;
  width: 100%;
  left: 0px;
}
/* line 210, ../sass/parts/_global.scss */
.project .leftShadow {
  position: absolute;
  left: -7px;
  top: 0px;
  height: 100%;
}
/* line 218, ../sass/parts/_global.scss */
.project:hover .dynamicImages img {
  opacity: 0.8;
}

/* line 225, ../sass/parts/_global.scss */
.skill {
  margin-bottom: 20px;
}

/* line 229, ../sass/parts/_global.scss */
.dynamicImages img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}

/* line 235, ../sass/parts/_global.scss */
.project-nav {
  height: 30px;
}
/* line 237, ../sass/parts/_global.scss */
.project-nav ul {
  display: block;
  float: right;
  height: 30px;
}
/* line 241, ../sass/parts/_global.scss */
.project-nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style-type: none;
  height: 30px;
}
/* line 247, ../sass/parts/_global.scss */
.project-nav ul li a {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 300;
  display: inline-block;
  *display: inline;
  height: 30px;
  line-height: 12px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 254, ../sass/parts/_global.scss */
.project-nav ul li a span {
  display: inline-block;
  zoom: 1;
  height: 15px;
}
/* line 258, ../sass/parts/_global.scss */
.project-nav ul li a span.icon {
  background: url("../images/navicons.png") no-repeat;
  width: 15px;
  margin: 0px;
  position: relative;
  top: 2px;
}
/* line 265, ../sass/parts/_global.scss */
.project-nav ul li a span.text {
  margin: 0 10px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 271, ../sass/parts/_global.scss */
.project-nav ul li a.return span.icon {
  background-position: left center;
}
/* line 276, ../sass/parts/_global.scss */
.project-nav ul li a.site span.icon {
  background-position: right center;
}
/* line 281, ../sass/parts/_global.scss */
.project-nav ul li a:hover span.text {
  border-bottom: 1px dotted #34abdd;
}

/* line 290, ../sass/parts/_global.scss */
.ID h1 {
  display: block;
}
/* line 293, ../sass/parts/_global.scss */
.ID dl {
  margin: -10px 0px 0 0;
  padding: 0px 0px 0px 15px;
}
/* line 296, ../sass/parts/_global.scss */
.ID dl dt {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #34abdd;
  margin-top: 10px;
}
/* line 301, ../sass/parts/_global.scss */
.ID dl dd {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #5c5a5b;
  margin: 0px;
}
/* line 305, ../sass/parts/_global.scss */
.ID dl dd a {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #5c5a5b;
}
/* line 308, ../sass/parts/_global.scss */
.ID dl dd a:hover {
  color: #34abdd;
}

/* line 316, ../sass/parts/_global.scss */
.details section {
  margin-bottom: 40px;
  margin-top: 20px;
}
/* line 319, ../sass/parts/_global.scss */
.details section .dynamicImages {
  width: 90%;
  float: right;
}
/* line 323, ../sass/parts/_global.scss */
.details section.copy {
  padding: 0px 0.9375em;
}
/* line 327, ../sass/parts/_global.scss */
.details h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #34abdd;
  margin-bottom: 20px;
}

/* line 335, ../sass/parts/_global.scss */
.close {
  position: absolute;
  top: 0;
  right: 15px;
}
/* line 339, ../sass/parts/_global.scss */
.close a {
  display: block;
  background: url("../images/closeIcon.png") top right no-repeat;
  height: 15px;
  line-height: 15px;
  width: 15px;
  text-indent: -999px;
  overflow: hidden;
}
/* line 347, ../sass/parts/_global.scss */
.close a:hover {
  background-position: bottom right;
}

/* line 354, ../sass/parts/_global.scss */
a.custom {
  display: block;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #34abdd;
  padding-left: 35px;
  position: relative;
  white-space: nowrap;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 365, ../sass/parts/_global.scss */
a.custom span {
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 367, ../sass/parts/_global.scss */
a.custom span.icon {
  position: absolute;
  width: 28px;
  height: 28px;
  overflow: hidden;
  background: url("../images/buttonIcon.png") top right no-repeat;
  top: -6px;
  left: 0px;
  -webkit-transition: all 0;
  -moz-transition: all 0;
  -o-transition: all 0;
  transition: all 0;
}
/* line 378, ../sass/parts/_global.scss */
a.custom:hover {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #34abdd;
  text-decoration: none;
}
/* line 384, ../sass/parts/_global.scss */
a.custom:hover span.text {
  border-bottom: 1px dotted #34abdd;
  padding: 2px 0px;
}
/* line 388, ../sass/parts/_global.scss */
a.custom:hover span.icon {
  background-position: top left;
}

/* line 396, ../sass/parts/_global.scss */
html, body {
  height: 100%;
}

/* line 400, ../sass/parts/_global.scss */
#alpha {
  min-height: 100%;
}

/* line 404, ../sass/parts/_global.scss */
#beta {
  overflow: auto;
  padding-bottom: 30px;
}

/* must be same height as the footer */
/* line 409, ../sass/parts/_global.scss */
#footer {
  position: relative;
  margin-top: -30px;
  /* negative value of footer height */
  height: 30px;
  clear: both;
}
/* line 414, ../sass/parts/_global.scss */
#footer p {
  font-size: 11px;
  color: #34abdd;
  text-align: center;
}

/*Opera Fix*/
/* line 422, ../sass/parts/_global.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 432, ../sass/parts/_global.scss */
#content {
  padding: 25px 0px;
}

/* line 436, ../sass/parts/_global.scss */
.wrap {
  margin-top: 45px;
  margin-bottom: 45px;
}
/* line 439, ../sass/parts/_global.scss */
.wrap h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.96em;
  letter-spacing: 0px;
  font-weight: 300;
  color: #5c5a5b;
}
/* line 443, ../sass/parts/_global.scss */
.wrap.less {
  margin-top: 20px;
}

/* line 450, ../sass/parts/_global.scss */
#myChart {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -150px;
  width: 300px !important;
  height: 300px !important;
}

/* line 460, ../sass/parts/_global.scss */
.killPad {
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}

/* line 463, ../sass/parts/_global.scss */
#projects {
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}

/* line 466, ../sass/parts/_global.scss */
#switch {
  text-align: right;
  position: relative;
  overflow: visible;
}
/* line 470, ../sass/parts/_global.scss */
#switch a {
  display: block;
  width: 120px;
  position: absolute;
  right: 0px;
}

/* line 477, ../sass/parts/_global.scss */
.sub-nav {
  font-size: 0.85em;
}
/* line 480, ../sass/parts/_global.scss */
.sub-nav dd.active a {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  font-weight: bold;
  background: #34abdd;
  padding: 0.1875em 0.5625em;
  cursor: pointer;
}
/* line 487, ../sass/parts/_global.scss */
.sub-nav dd.active a:hover {
  opacity: 0.8;
  border-bottom: none;
}
/* line 492, ../sass/parts/_global.scss */
.sub-nav dd:hover a {
  border-bottom: 1px dotted #34abdd;
}
/* line 496, ../sass/parts/_global.scss */
.sub-nav dt {
  color: #5c5a5b;
}

/* line 503, ../sass/parts/_global.scss */
.copy .sub-nav {
  margin: 10px 0px;
}

/* line 507, ../sass/parts/_global.scss */
.xp-lists {
  margin-bottom: 30px;
  position: relative !important;
}
/* line 510, ../sass/parts/_global.scss */
.xp-lists .xp {
  position: relative;
  overflow: auto;
  margin-bottom: 20px;
}
/* line 514, ../sass/parts/_global.scss */
.xp-lists .xp .visual {
  width: 12%;
  float: left;
  margin: 0px;
  text-align: center;
}
/* line 519, ../sass/parts/_global.scss */
.xp-lists .xp .visual img {
  width: 80%;
  max-width: 50px;
  margin: 6px auto 0px auto;
}
/* line 524, ../sass/parts/_global.scss */
.xp-lists .xp .visual h3 {
  display: none !important;
}
/* line 528, ../sass/parts/_global.scss */
.xp-lists .xp.lvl {
  margin-bottom: 10px;
}
/* line 530, ../sass/parts/_global.scss */
.xp-lists .xp.lvl dl {
  float: none;
  width: 100%;
}
/* line 534, ../sass/parts/_global.scss */
.xp-lists .xp.lvl dl dd.role {
  padding-top: 0px;
}
/* line 540, ../sass/parts/_global.scss */
.xp-lists .xp dl {
  float: right;
  margin: 0px;
  width: 88%;
}
/* line 544, ../sass/parts/_global.scss */
.xp-lists .xp dl dd, .xp-lists .xp dl dt {
  margin: 6px 0px;
  line-height: 1;
}
/* line 548, ../sass/parts/_global.scss */
.xp-lists .xp dl dt {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 0px;
  font-weight: 300;
  color: #34abdd;
  margin: 0;
}
/* line 554, ../sass/parts/_global.scss */
.xp-lists .xp dl dd.when {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: bold;
  color: #5c5a5b;
}
/* line 560, ../sass/parts/_global.scss */
.xp-lists .xp dl dd.for {
  margin: 8px 4px 2px 0px;
  font-size: 0.8em;
  color: #cacaca;
  float: left;
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.6em;
  letter-spacing: 0px;
  font-weight: 300;
}
/* line 567, ../sass/parts/_global.scss */
.xp-lists .xp dl dd.for a {
  color: #cacaca;
  text-decoration: none;
}
/* line 570, ../sass/parts/_global.scss */
.xp-lists .xp dl dd.for a:hover {
  color: #34abdd;
}
/* line 575, ../sass/parts/_global.scss */
.xp-lists .xp dl dd.role {
  clear: both;
  display: block;
  font-size: 0.75em;
  padding-top: 5px;
  line-height: 1.5;
  color: #5c5a5b;
}

/* line 588, ../sass/parts/_global.scss */
#skills {
  margin: 20px auto 20px auto;
}
/* line 590, ../sass/parts/_global.scss */
#skills .ask {
  margin-bottom: 20px;
}
/* line 593, ../sass/parts/_global.scss */
#skills .entry {
  text-align: center;
  margin: 5px 0px 10px 0px;
}
/* line 596, ../sass/parts/_global.scss */
#skills .entry img {
  width: 80%;
  max-width: 70px;
  margin: 0 auto;
}
/* line 601, ../sass/parts/_global.scss */
#skills .entry h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.7em;
  letter-spacing: 0px;
  font-weight: 300;
  color: #5c5a5b;
}

/* line 610, ../sass/parts/_global.scss */
.sitemap {
  padding-left: 20px;
}
/* line 612, ../sass/parts/_global.scss */
.sitemap li {
  padding: 0px 0px 0px 10px;
  list-style-image: url("../images/skills/dot.png");
}
/* line 615, ../sass/parts/_global.scss */
.sitemap li a {
  font-size: 0.8em;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 618, ../sass/parts/_global.scss */
.sitemap li a:hover {
  color: #cacaca;
  text-decoration: underline;
}

/* line 5, ../sass/parts/_fonts.scss */
p {
  color: #5c5a5b;
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 10, ../sass/parts/_fonts.scss */
p a {
  color: #34abdd;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 15, ../sass/parts/_fonts.scss */
p a:hover {
  text-decoration: underline;
  color: #cacaca;
}

/* line 22, ../sass/parts/_fonts.scss */
.intro {
  padding: 60px 0px 40px 0px;
}
/* line 25, ../sass/parts/_fonts.scss */
.intro p {
  line-height: 2.1em;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0px;
  font-weight: 300;
}
/* line 29, ../sass/parts/_fonts.scss */
.intro.smaller {
  padding: 30px 0px 20px 0px;
}
/* line 31, ../sass/parts/_fonts.scss */
.intro.smaller p {
  font-size: 0.71em;
}
/* line 36, ../sass/parts/_fonts.scss */
.intro.center .title, .intro.center p {
  text-align: center !important;
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

/* line 46, ../sass/parts/_fonts.scss */
.weak {
  color: #5c5a5b;
}

/* line 49, ../sass/parts/_fonts.scss */
.strong {
  color: #34abdd;
}

/* line 55, ../sass/parts/_fonts.scss */
.title {
  font-family: "Arapey", cursive;
  font-size: 85px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -3px;
  font-weight: normal;
  margin: 10px 0px 30px 0px;
  line-height: 32px;
  color: #34abdd;
}
/* line 61, ../sass/parts/_fonts.scss */
.title.small {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2.5em;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: "Arapey", cursive;
  color: #34abdd;
  display: inline-block;
  padding: 5px;
}
/* line 68, ../sass/parts/_fonts.scss */
.title.center {
  text-align: center;
  display: block;
}

/* line 73, ../sass/parts/_fonts.scss */
.hello {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0px auto 20px auto;
  color: #5c5a5b;
  text-align: center;
  font-weight: 300;
}

/* line 83, ../sass/parts/_fonts.scss */
.copy .title.small {
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

/* line 91, ../sass/parts/_fonts.scss */
.skill h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.96em;
  letter-spacing: 0px;
  font-weight: 300;
  color: #5c5a5b;
}

/* line 99, ../sass/parts/_fonts.scss */
.bio .copy p {
  line-height: 2.5;
}
/* line 102, ../sass/parts/_fonts.scss */
.bio .copy .ask {
  font-family: "Arapey", cursive;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
  color: #34abdd;
  margin: 0px 0px 10px 0px;
}

/* line 3, ../sass/parts/_header.scss */
.contain-to-grid {
  background: url("../images/bgClair.png") top left;
  position: relative;
  margin-bottom: 15px;
}
/* line 8, ../sass/parts/_header.scss */
.contain-to-grid .dropShadow, .contain-to-grid .leftShadow, .contain-to-grid .downPoint {
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 100%;
  z-index: 99;
}

/* line 17, ../sass/parts/_header.scss */
#mainMenu {
  height: 100px;
  position: relative;
  overflow: none;
}
/* line 21, ../sass/parts/_header.scss */
#mainMenu h1 {
  float: left;
  height: 100px;
  margin: 0px;
}
/* line 25, ../sass/parts/_header.scss */
#mainMenu h1 a {
  display: block;
  height: 100px;
  overflow: hidden;
  text-indent: -999px;
  background: url("../images/logo.png") center center no-repeat;
  width: 80px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 33, ../sass/parts/_header.scss */
#mainMenu h1 a:hover {
  opacity: 0.8;
}
/* line 38, ../sass/parts/_header.scss */
#mainMenu section {
  float: right;
  height: 100px;
  margin: 0px;
}
/* line 42, ../sass/parts/_header.scss */
#mainMenu section ul {
  background: transparent;
  margin: 0px;
}
/* line 45, ../sass/parts/_header.scss */
#mainMenu section ul li {
  display: inline-block;
  *display: inline-block;
  zoom: 1;
  list-style-type: none;
}
/* line 50, ../sass/parts/_header.scss */
#mainMenu section ul li a span {
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 53, ../sass/parts/_header.scss */
#mainMenu section ul li a:not(.button) {
  line-height: 100px;
  padding: 0px 13px;
  background: transparent;
  color: #34abdd;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 62, ../sass/parts/_header.scss */
#mainMenu section ul li.active a {
  background: transparent;
  color: #fff;
}
/* line 65, ../sass/parts/_header.scss */
#mainMenu section ul li.active a span {
  border-bottom: 1px dotted #34abdd;
  color: #34abdd;
  padding-bottom: 3px;
}
/* line 72, ../sass/parts/_header.scss */
#mainMenu section ul li:hover a span {
  border-bottom: 1px dotted #34abdd;
  padding-bottom: 3px;
}

/* line 83, ../sass/parts/_header.scss */
#quickContact {
  display: none;
  width: 100%;
  padding: 20px 0px;
}
/* line 88, ../sass/parts/_header.scss */
#quickContact h1 {
  color: #cacaca;
  font-size: 12px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 300;
}
/* line 93, ../sass/parts/_header.scss */
#quickContact h2 {
  color: #34abdd;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 300;
}
/* line 98, ../sass/parts/_header.scss */
#quickContact label {
  color: #cacaca;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 2px 0px 5px 0px;
}
/* line 103, ../sass/parts/_header.scss */
#quickContact label .error {
  color: #34abdd;
}
/* line 106, ../sass/parts/_header.scss */
#quickContact label .error ul.parsley-error-list li {
  padding: 3px 0px 3px 5px;
  list-style-type: none;
}
/* line 114, ../sass/parts/_header.scss */
#quickContact p {
  margin-bottom: 5px;
  line-height: 1em;
}
/* line 119, ../sass/parts/_header.scss */
#quickContact textarea {
  height: 123px;
  resize: none;
}
/* line 123, ../sass/parts/_header.scss */
#quickContact textarea, #quickContact input[type="text"], #quickContact select, #quickContact option {
  font-size: 12px;
}
/* line 127, ../sass/parts/_header.scss */
#quickContact .message {
  color: #34abdd;
  text-transform: uppercase;
  text-align: right;
}
/* line 133, ../sass/parts/_header.scss */
#quickContact #buttonSection {
  margin: 15px 0px;
}
/* line 137, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons {
  height: 44px;
  border: 1px solid #262626;
  border-right: none;
}
/* line 141, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons.top {
  border-bottom: 0px;
  margin-bottom: 0px;
}
/* line 146, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon {
  border-right: 1px solid #303030;
  height: 43px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 152, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a {
  display: block;
  height: 39px;
  width: 100%;
  max-width: 39px;
  margin: 2px auto;
  background: url("../images/socialIcons.png") no-repeat;
}
/* line 159, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iMail {
  background-position: 0px 0px;
}
/* line 161, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iMail:hover {
  background-position: 0px -39px;
}
/* line 165, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iPhone {
  background-position: -39px 0px;
}
/* line 167, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iPhone:hover {
  background-position: -39px -39px;
}
/* line 171, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iGplus {
  background-position: -117px 0px;
}
/* line 173, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iGplus:hover {
  background-position: -117px -39px;
}
/* line 177, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iTwitter {
  background-position: -78px 0px;
}
/* line 179, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iTwitter:hover {
  background-position: -78px -39px;
}
/* line 183, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iFlickr {
  background-position: -156px 0px;
}
/* line 185, ../sass/parts/_header.scss */
#quickContact #buttonSection .quickButtons .icon a#iFlickr:hover {
  background-position: -156px -39px;
}
/* line 194, ../sass/parts/_header.scss */
#quickContact #springContact {
  margin-top: 20px;
}
