/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {
	// Projects

	#archives{
		display:block;
		&.closed{
			display:block !important;
		}
	}
	.details{
		.dynamicImages{
			max-width:492px;
		}
	}
}

@media only screen and (max-width: 1280px) {
	
}